<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="CarsEvidence-REL" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=BlueBit.CarsEvidence;Integrated Security=True;AttachDbFilename=|DataDirectory|\_DataBase_\BlueBit.CarsEvidence.Data.mdf" />
    <add name="CarsEvidence-DBG" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=BlueBit.CarsEvidence.DBG;Integrated Security=True" />
    <add name="CarsEvidence-DBG_" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=BlueBit.CarsEvidence;Integrated Security=True;AttachDbFilename=|DataDirectory|\_DataBase_\_BlueBit_\BlueBit.CarsEvidence.Data.mdf" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.4000" newVersion="4.0.0.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Iesi.Collections" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
